<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="heystack.sqlserver" connectionString="Server=tcp:notytb9g7e.database.windows.net,1433;Database=HeyStack;User ID=heystack@notytb9g7e;Password=ProgNet2014@SkillsMatter;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <!-- ServiceStack handler for IIS classic mode and VS2010 -->
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>

    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <!-- ServiceStack handler for IIS integrated mode and VS2012/VS2013 -->

      <add path="*" name="ServiceStack.Factory" preCondition="integratedMode"
				 type="ServiceStack.HttpHandlerFactory, ServiceStack"
				 verb="*" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
</configuration>
